.title {
  text-align: center;
}

html {
  background: url(./photos/football.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.body {
  text-align: center;
  margin-top: 100px;
  margin-right: 75px;
  margin-left: 200px;
  font-weight: bold;
  color: white;
}

.body1 {
  text-align: center;
  margin-top: 50px;
  margin-right: 75px;
  margin-left: 200px;
  font-weight: bold;
  color: black;
}

.Slideshow {
  float: left;
  width: 750px;
  margin: 25px;
  border: 10px solid white;
}

.ProjectPage {
  overflow: auto;
  background-color: #d9d9d9;
}

.ProjectPic1 {
  float: left;
  width: 750px;
  margin: 25px;
}

.ProjectHeader1 {
  text-align: center;
  margin-top: 100px;
  margin-right: 75px;
  margin-left: 200px;
}

.Description1 {
  text-align: center;
  margin-top: 50px;
  margin-right: 75px;
  margin-left: 200px;
}

.ProjectButton1 {
  text-align: center;
  margin-top: 20px;
  margin-right: 100px;
  margin-left: 200px;
  border-radius: 4px;
  background-color: #808080;
  font-size: 16px;
  padding: 15px;
  color: black;
}

.ProjectButton1:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.ProjectPic2 {
  float: right;
  width: 375px;
  margin-top: 55px;

}

.ProjectPic2b {
  float: right;
  width: 375px;
  margin-top: 148px;
}

.ProjectHeader2 {
  text-align: center;
  margin-top: 350px;
  margin-left: 75px;
  margin-right: 200px;
}

.Description2 {
  text-align: center;
  margin-top: 50px;
  margin-left: 75px;
  margin-right: 300px;
}

.ProjectButton2 {
  text-align: center;
  margin-top: 20px;
  margin-left: 300px;
  margin-right: 200px;
  border-radius: 4px;
  background-color: #808080;
  font-size: 16px;
  padding: 15px;
  color: black;
}

.ProjectButton2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.backBtn {
  text-align: center;
  border-radius: 4px;
  background-color: #808080;
  font-size: 16px;
  padding: 15px;
  color: black;
  float: right;
}

.backBtn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.SFSF {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d9d9d9;
}

.row1 {
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
}

.row2 {
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
}

.row3 {
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
}

.row4 {
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
}

.row5 {
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
}

.challenges {
  margin-left: 50px;
  margin-right: 50px;
}

.caption {
  font-style: italic;
  font-size: 10;
}
