.App {
  text-align: center;
}

.MainPage {
  overflow: auto;
}

.title {
  text-align: center;
}

.body {
  text-align: center;
  margin-top: 100px;
  margin-right: 75px;
  margin-left: 200px;
}

.body1 {
  text-align: center;
  margin-top: 50px;
  margin-right: 75px;
  margin-left: 200px;
}

.Slideshow {
  float: left;
  width: 750px;
  margin: 25px;
}

.ProjectPage {
  overflow: auto;
}

.ProjectPic1 {
  float: left;
  width: 750px;
  margin: 25px;
}

.ProjectHeader1 {
  text-align: center;
  margin-top: 100px;
  margin-right: 75px;
  margin-left: 200px;
}

.Description1 {
  text-align: center;
  margin-top: 50px;
  margin-right: 75px;
  margin-left: 200px;
}

.ProjectButton1 {
  text-align: center;
  margin-top: 20px;
  margin-right: 100px;
  margin-left: 200px;
}

.ProjectPic2 {
  float: right;
  width: 375px;
  margin-top: 50px;

}

.ProjectPic2b {
  float: right;
  width: 375px;
  margin-top: 155px;
}

.ProjectHeader2 {
  text-align: center;
  margin-top: 300px;
  margin-left: 75px;
  margin-right: 200px;
}

.Description2 {
  text-align: center;
  margin-top: 50px;
  margin-left: 75px;
  margin-right: 300px;
}

.ProjectButton2 {
  text-align: center;
  margin-top: 20px;
  margin-left: 300px;
  margin-right: 200px;
}
