.App {
  text-align: center;
}

.MainPage {
  overflow: auto;
}

.Menu {
  width: 250px;
  height: 400px;
  position: absolute;
  top: 0px;
  background-color: #ccf2ff;
  float: left;
}

.title {
  text-align: center;
}

.body {
  text-align: center;
  margin-top: 75px;
  margin-right: 750px;
}

.body1 {
  text-align: center;
  margin-top: 50px;
  margin-right: 750px;
}

.Slideshow {
  float: left;
  width: 750px;
  margin: 25px;
}
